<div class="contact">
  <h2>Contact</h2>
  <ul>
    <li>Shahid Beheshti University</li>
    <li>Department of Physics</li>
    <li>123 Tehran, Iran</li>
<!--     <li><span class="li-icon">{% include svg/pin-alt.svg %}</span><span>Foobar Hall 1.23</span></li> -->
    <li><span class="li-icon">{% include svg/phone.svg %}</span><span>+98 902 200 8277</span></li>
    <li><span class="li-icon">{% include svg/mail.svg %}</span><a href="mailto:artakh10@gmail.com">artakh10@gmail.com</a></li>
<!--     <li><span class="li-icon">{% include svg/internet.svg %}</span><a href="https://cvless.netlify.app">https://cvless.netlify.app</a></li> -->
  </ul>
</div>
